<% flash.each do |key, value| %>
  <div class="<%= key %> alert alert-danger" role="alert"><%= value %></div>
<% end %>

<div class="content">
  <div class="header">
    <h1 class="header-title">
      Search Images
    </h1>

    <form action="/" method="GET">
      <div class="input-group search-input">
        <input class="form-control form-control-lg" type="text" name="search_word">
        <button class="btn btn-warning search-button" type="submit">
            확인
        </button>
      </div>
    </form>
  </div>

  <div class="body">
    <%= render partial: "images", collection: @images, as: :image %>
  </div>

  <div class="page">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <% if @pages %>
          <% (1..5).each do |page| %>
            <li class="page-content">
              <%= link_to root_path(search_word: params[:search_word], page: page), class: "page-link" do %>
                <%= page %>
              <% end %>
            </li>
          <% end %>
        <% end %>

        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>